version = 2

server = "https://docker.io"

[host."https://docker-mirror.pikube.dev:31443"]
  capabilities = ["pull", "resolve"]
  ca = "ca.crt"

[host."https://registry-1.docker.io"]
  capabilities = ["pull", "resolve"]
